.cell {
    text-align: right;
    justify-content: flex-start;
    align-items: flex-end;
}

.cell-2 {
    flex-flow: column;
    display: block;
}

.section-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border: 1px #000;
    flex-flow: column;
    flex: 0 auto;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: auto;
    display: block;
}

.paragraph-2 {
    text-transform: capitalize;
    border-top: 1px #000;
    border-bottom: 1px solid #ffffff54;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.heading-3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: Coolvetica Condensed Rg, sans-serif;
    font-size: 60px;
}


.container {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}



.small-number {
    opacity: .7;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}


.margin-20px {
    margin-top: 20px;
}

.contact-wrapper {
    width: 100%;
}

.input-flex {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}


.input-100 {
    text-transform: none;
    width: 100%;
}